<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Error - Shopdidong Admin', 'none')"/>
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div class="text-center m-3">
		<h2 style="color: #D81B60;">[Error 403] Xin lỗi, bạn không có quyền truy cập trang này (*꒦ິ꒳꒦ີ)</h2>		
	</div>

	<div th:replace="fragments :: footer"></div>

</div>
</body>
</html>