<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopdidong Admin', 'none')" />
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>

		<div>
			<h1>Manage Categories</h1>
			<a th:href="@{/categories/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
			&nbsp;|&nbsp;
			<a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		</div>

		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>

		<div th:replace="fragments::search_form('/categories/page/1')"></div>

		<div class="table-responsive">
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>Category Image</th>
						<th>
							<a class="text-white"
								th:href="@{'/categories/page/' + ${currentPage} + '?sortDir=' + ${reverseSortDir}}">Category
								Name</a>
							<span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
						</th>
						<th>Alias</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cat : ${listCategories}">
						<td>[[${cat.id}]]</td>
						<td>
							<img th:src="@{${cat.imagePath}}" width="100px" />
						</td>
						<td>[[${cat.name}]]</td>
						<td>[[${cat.alias}]]</td>
						<td>
							<div th:replace="fragments :: category_status" />
						</td>
						<td>
							<div th:replace="fragments :: category_actions" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!--PAGINATION-->

		<div th:if="${keyword != null}" class="text-center">
			<span>Search result does not show categories in hierarchical form</span>
			<div th:replace="fragments :: pagination('/categories', 'categories')"></div>
		</div>

		<th:block th:unless="${keyword != null}">
			<div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
	</div>

	<div th:replace="fragments :: footer"></div>

	<div class="modal fade text-center" id="Confirm-Modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="Delete Confirmation">Delete Confirmation</h4>
					<button type="button" class="close" style="font-size: 30px; border: none; background-color: white;"
						data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modal-Body"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
				</div>
			</div>
		</div>

	</div>


	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				link = $(this);
				catId = link.attr("catId");
				$("#yesButton").attr("href", link.attr("href"));
				$("#modal-Body").text("Are you sure you want to delete this user ID " + catId + "?");
				$("#Confirm-Modal").modal("show");
			});
		});

		function clearFilter() {
			window.location = "[[@{/categories}]]";
		}
	</script>
</body>

</html>